.bg-dashboard {
  background-image: linear-gradient(#8d3bc7, #3333cc);
  width: 185px;
}

body {
  color: #8c8c8c;
  letter-spacing: 0.5px;
}

.color-logo {
  color: #4f21c4;
}

.bg-color-global {
  background-image: linear-gradient(#8d3bc7, #3333cc);
}

@media only screen and (max-width: 1024px) {
  .bar-showhide {
    visibility: hidden;
  }
  .responsif-colomn {
    display: grid;
  }
}
